/*!
 * Bootstrap v3.0.0
 *
 * Copyright 2013 Twitter, Inc
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Designed and built with all the love in the world by @mdo and @fat.
 */

/*! normalize.css v2.1.0 | MIT License | git.io/normalize */

body { padding-bottom: 70px;
	background-image: url('../img/wall.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.container {
	color: rgb(255,255,255); 
}