
	<div class="navbar navbar-default navbar-fixed-bottom">
		<div class="container">
			<div class="col-md-offset-2">
				<p class="navbar-text" style="margin-left:200px;">Developers <a href="http://google.com/+nairityakhilari" target="_blank">Nairitya Khilari</a>, <a href="http://www.facebook.com/nikhil.dhaka.98" target="_blank">Nikhil Dhaka</a>, <a href="https://www.facebook.com/profile.php?id=100006003512472&fref=ts" target="_blank">Rajat Jain</a>, <a href="https://www.facebook.com/vibhor.goel.16" target="_blank">Vibhor Goel</a></p>
			</div>
		</div>
	</div>
	<!-- Le javascript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="../js/jquery.js"></script>
	<script src="../js/bootstrap.js"></script>
	<script src="./js/jquery.js"></script>
	<script src="./js/bootstrap.js"></script>